<h1>App Component. {{helloWorld}}</h1>

<button (click)="clickMe()">CLICK</button>

<P [class]="pClassName">Lorem ipsum dolor sit amet.</P>

<!-- <input type="text" (keyup)="changeHelloWorldVariable($event)"> -->

<input type="text" [(ngModel)]="helloWorld"> <!-- Two way data binding -->



<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim asperiores cumque eligendi repellat natus necessitatibus rem et ipsa, perferendis sit! Voluptate ratione exercitationem ex in magnam ullam quod et cumque.</p>
<app-home></app-home> 
<app-about></app-about> -->