<h1>Reactive Form Personel Ekleme</h1>
<div *ngIf="!isUpdateFormActive">
<form [formGroup]="addForm">
  <div>
    Personel Adı
    <input formControlName="name" type="text">
  </div>
  <div>
    Bölümü
    <select formControlName="profession">
      <option>Yazılım</option>
      <option>Donanım</option>
      <option>İnsan Kaynakları</option>
      <option>Muhasebe</option>
    </select>
  </div>
  <div>
    İşe Giriş Tarihi
    <input type="date" formControlName="startingDate">
  </div>

  <div>
    <button (click)="addPersonel()" [disabled]="!addForm.valid">Personel Ekle</button>
  </div>

</form>
</div>

<div *ngIf="isUpdateFormActive">
  <form [formGroup]="updateForm">
    <div>
      Personel Adı
      <input formControlName="name" type="text">
    </div>
    <div>
      Bölümü
      <select formControlName="profession">
        <option>Yazılım</option>
        <option>Donanım</option>
        <option>İnsan Kaynakları</option>
        <option>Muhasebe</option>
      </select>
    </div>
    <div>
      İşe Giriş Tarihi
      <input type="date" formControlName="startingDate">
    </div>
  
    <div>
      <button (click)="updatePersonel()" [disabled]="!updateForm.valid">Güncelle</button>
      <button (click)="cancel()">Vazgeç</button>
    </div>
  
  </form>
</div>


<hr>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Personel Adı</th>
      <th>Bölümü</th>
      <th>İşe Giriş Tarihi</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of employess let i=index">
      <td>{{i+1}}</td>
      <td>{{e.name}}</td>
      <td>{{e.profession}}</td>
      <td>{{e.startingDate | date:'dd.MM.yyyy'}}</td>
      <td>
        <button (click)="get(e,i)">Güncelle</button>
      </td>
    </tr>
  </tbody>
</table>